# Go binaries
/bin/
/obj/

# Go workspace files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
/vendor/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Coverage files
*.out
*.cov

# Temporary files
*.tmp
*.temp

# Build artifacts
/build/
